.center-container {
    max-width: 600px; 
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc;  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #f9f9f9;  
  }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.login-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}

.login-buttons button {
    width: 30%;
    aspect-ratio: 1;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    margin: 0 10px;
}

.login-buttons button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.signup-link:hover {
    text-decoration: underline;
}
