.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.back-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10%;
    width: 100%;
}

.back-button:hover {
    background-color: #218838;
}

.input-row {
    margin: 15px 0;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures consistent padding and border treatment */
}
