.home {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #28a745;
    border-radius: 5px;
    background-color: #28a745;
    transition: all 0.3s;
}

button:hover {
    background-color: #218838;
    border-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    padding-left: 20px;
    list-style: disc;
}

.client-details {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.client-expanded-details {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fefefe;
}

.workout, .diet {
    margin-top: 15px;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #b52a3a;
}

.update-button, .logout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.update-button:hover, .logout-button:hover {
    background-color: #0056b3;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
