/* App.css */

.centered-container {
  max-width: 600px; 
  margin: 50px auto; 
  padding: 20px;
  border: 1px solid #ccc;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #f9f9f9;  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Space the login buttons */
.login-buttons {
  display: flex;
  gap: 20px; /* Space between buttons */
  justify-content: center;
  margin: 20px 0; /* Space around the login section */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

button:active {
  background-color: #3e8e41; /* Even darker green on click */
}

/* Style for the Sign Up link */
.signup-link {
  color: #007bff; /* Initial color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #0056b3; /* Darker blue on hover */
}

.signup-link:active {
  color: #003580; /* Even darker blue on click */
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd; 
  margin: 0 auto; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  border-radius: 8px; 
}

/* Login pages css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.input-row {
  width: 100%;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
.home button {
  margin-bottom: 5px; /*spacing between the buttons*/
}
